.profile{
    display: flex;
    padding: 100px 140px;
    justify-content: space-around;
    margin-bottom: 20px;
   
}
.profile-details{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 400px;
    text-align: center;
}
.profile h1{
    font-size: 40px;
    font-family: "Rubik Mono One", monospace;
    font-weight: 400;
    line-height: 10px;
    margin-bottom: 0px;
    font-stretch: semi-expanded;
    color: rgb(34, 34, 34);
}
.profile h4{
    font-size: 24px;
    font-family: "Roboto Mono", monospace;
    margin-bottom: 20px;
    word-spacing: 0;
}
.social-platform{
    display: flex;
    gap: 20px;
    text-align: center;
    margin-bottom: 20px;
}
.social-icon{
    width: 30px;
    height: 30px;
}
.description{
    font-family: "Roboto Mono", monospace;
    font-size: 20px;
    font-weight: 300;
    max-width: 300px;
}
.resume-btn{
    background-color: rgb(9, 135, 242);
    font-size: 20px;
    color: aliceblue;
    margin-top: 20px;
    font-weight: 700;
    height: 50px;
    width: 120px;
    border: none;
    border-radius: 20px;
}
.profile-image{
    width: 350px;
    height: 350px;
    object-fit: contain;
    border-radius: 50%;
    mix-blend-mode: multiply;
    margin-top: 30px;
}
@media screen and (max-width: 768px) {
    .profile{
        display: flex;
        flex-direction: column;
        gap: 20px;
        flex-direction: column-reverse;
        padding: 20px 20px;
        margin-bottom: 100px;
    }
    .profile-details{
        display: flex;
        flex-direction: column;
        width: 100%;
        text-align: center;
    }
    .name{
        display: flex;
        flex-direction: column;
        max-width: 80%;
        font-size: 20px;
    }
    .name h1{
        font-size: 32px;
        text-align: center;
    }
    .title{
        width: 100%;
    }
    .image-section{
       text-align: center;
    }
    .profile-image{
        width: 60%;
        height: 60%;
        object-fit: contain;
        border-radius: 50%;
        mix-blend-mode: multiply;
    }


}