.projects {
    display: flex;
    flex-direction: column;
    gap: 100px;
    text-align: center;
}

.projects-container {
    display: flex;
    justify-content: space-around;
}
.projects-container section{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.projects h1 {
    font-size: 40px;
    font-family: "Rubik Mono One", monospace;
    font-weight: 400;
    line-height: 10px;
    margin-bottom: 0px;
    font-stretch: semi-expanded;
    color: rgb(34, 34, 34);
}

.projects h4 {
    font-size: 24px;
    font-family: "Roboto Mono", monospace;
    word-spacing: 0;
    margin: 0;
}

.projects span {
    font-family: "Roboto Mono", monospace;
    font-size: 20px;
    font-weight: 300;
    max-width: 300px;
}
.projects img {
    width: 220px;
    height: 180px;
    object-fit: contain;
}

