.contact{
    display: flex;
    flex-direction: column;
    gap: 50px;
    text-align: center;
    align-items: center;
    margin-bottom: 100px;
}
.contact h1{
    font-size: 40px;
    font-family: "Rubik Mono One", monospace;
    font-weight: 400;
    line-height: 10px;
    margin-bottom: 0px;
    font-stretch: semi-expanded;
    color: rgb(34, 34, 34);
}
.contact .field-wrapper{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 600px;
}
.contact .field-wrapper input{
    height: 30px;
    padding: 10px;
    border-radius: 15px;
}
.contact button{
    background-color: rgb(9, 135, 242);
    font-size: 20px;
    color: aliceblue;
    margin-top: 20px;
    font-weight: 700;
    height: 50px;
    width: 120px;
    border: none;
    border-radius: 20px;
    margin: auto;
    margin-top: 20px;
}
@media screen and (max-width: 1000px) {
    .contact{
        display: flex;
        flex-direction: column;
        gap: 50px;
        text-align: center;
        align-items: center;
        margin-bottom: 100px;
    }
    .contact h1{
        font-size: 32px;
        font-family: "Rubik Mono One", monospace;
        font-weight: 400;
        margin-bottom: 0px;
        color: rgb(34, 34, 34);
    }
    .contact .field-wrapper{
        display: flex;
        flex-direction: column;
        gap: 40px;
        width: 70%;
    }
    .contact button{
        width: 100%;
    }
}